html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.static-header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 400px;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
}

.static-header__video {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    margin: 0 auto;
}

.static-header:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(0, 0, 0, .2);
    z-index: 0;
}

.static-header__content {
    position: relative;
    padding: 0 10px;
    text-align: center;
    z-index: 1;
}

.static-header h2 {
    display: none;
}

.btns .charcoal-btn {
    min-width: 130px;
    padding: 0.5em 1em;
    color: #FFFFFF;
    background-color: #2E3131;
    font-weight: 500;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color .25s;
}

.btns .charcoal-btn:not(:first-child) {
    margin-left: 15px;
}

.btns .charcoal-btn:hover {
    background-color: #00b3bf;
}

.static-header h1 {
    color: #fff;
    padding-bottom: 15px;
    font-size: 3.3rem;
    max-width: 15em;
    line-height: 1.2em;
}

.static-header h2 {
    max-width: 30em;
    color: rgba(255, 255, 255, .7);
}

@media (max-width: 1150px) {
    .static-header h1 {
        font-size: 2.3rem;
    }
}

@media only screen and (max-width: 768px) {
    .static-header {
        background: url("_img/tptg-bg.jpg");
        background-position: center center;
        background-size: cover;
    }

    .static-header__video { 
        display: none;
    }
}